@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,900);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|Megrim|Londrina+Outline|Julee);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
.wrapper {
  background-color: white; }

.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1; }

.fade.ng-enter,
.fade.ng-leave {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.fade.ng-enter {
  opacity: 0; }

.fade.ng-enter-active {
  opacity: 1; }

.fade.ng-leave {
  opacity: 1; }

.fade.ng-leave-active {
  opacity: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 24px;
  width: 100vw; }

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden; }

h1 {
  margin: 0; }

main {
  position: relative;
  z-index: 3;
  margin-bottom: 50vh;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); }

section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative; }

.face {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(50%);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-attachment: fixed;
  opacity: 0; }

.iam {
  position: absolute;
  z-index: 6;
  margin: 30px; }
  .iam h1 {
    font-size: 3rem;
    font-weight: 900; }

.lato, .iam h1 {
  font-family: 'Lato', sans-serif; }

.lato-lt, #welcome h1, #welcome .info, #name .title-1 h3, #name .title-1 h1, #name .title-1 h5, #bear .title-1 h3, #bear .title-1 h5, #developer .title-1 h5, #designer .title-1 h3, #designer .title-1 h5, #producer .contain div h1, #producer .title-1 h3, #producer .title-1 h5, #musician .title-1 h3, #musician .title-1 h1, #musician .title-1 h5, #me .title-1 h3, #me .title-1 h1, #me .title-1 h5, #education .vid, #education h1, #education h2, #education .contain .logo h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 100; }

.sh-l, .iam h1, #welcome h1, #welcome .info, #name .title-1, #bear .title-1, #developer .title-1, #producer .title-1, #musician .title-1, #me .title-1, #education .vid, #education h1, #education h2, #education .contain .logo h4, footer h1, footer .links a {
  text-shadow: 5px 2px 10px rgba(0, 0, 0, 0.3); }

.ps {
  font-family: 'Press Start 2P', cursive; }

.meg {
  font-family: 'Megrim', cursive; }

.lo, #designer .iam, #designer .title-1 h1 {
  font-family: 'Londrina Outline', cursive; }

.po, footer h1 {
  font-family: 'Pacifico', cursive; }

.julee, #bear .title-1 h1 {
  font-family: 'Julee', cursive; }

.ub, #developer .title-1 h3, #developer .title-1 h1, #education .contain .logo h2 {
  font-family: "Ubuntu Mono"; }

.anim-bg {
  background: linear-gradient(181deg, #ffffff, #ffffff, #00ffb9, #b87eff, #fffa84);
  background-size: 1000% 1000%;
  -webkit-animation: bg-anim 20s ease infinite;
  -moz-animation: bg-anim 20s ease infinite;
  animation: bg-anim 20s ease infinite; }

@-webkit-keyframes bg-anim {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

@-moz-keyframes bg-anim {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

@keyframes bg-anim {
  0% {
    background-position: 50% 0%; }
  50% {
    background-position: 50% 100%; }
  100% {
    background-position: 50% 0%; } }

.hover {
  -webkit-animation: Hover 2s ease-in-out infinite;
  -moz-animation: Hover 2s ease-in-out infinite;
  animation: Hover 2s ease-in-out infinite; }

.float {
  -webkit-animation: Float 2s ease-in-out infinite;
  -moz-animation: Float 2s ease-in-out infinite;
  animation: Float 2s ease-in-out infinite; }

@keyframes Hover {
  0% {
    transform: translate(-50%, 0) rotate(-5deg); }
  50% {
    transform: translate(-50%, 10px) rotate(5deg); }
  100% {
    transform: translate(-50%, 0) rotate(-5deg); } }

@keyframes Float {
  0% {
    transform: translate(0, 0); }
  50% {
    transform: translate(0, 10px); }
  100% {
    transform: translate(0, 0); } }

.hidden {
  visibility: hidden; }

@media (max-width: 900px) {
  .mobile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 6;
    text-align: center;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px; }
    .mobile h1 {
      font-size: 10vmin; }
  body {
    height: 100vh;
    overflow: hidden; }
  main {
    display: none; } }

.mobile {
  display: none; }

#welcome {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; }
  #welcome h1 {
    font-size: 14vw; }
  #welcome .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; }
    #welcome .info h5 {
      font-weight: 300;
      font-size: 2.4em; }
    #welcome .info p {
      font-weight: 300;
      font-size: 1.5em; }

.wrapper {
  overflow: hidden; }
  .wrapper .face {
    background-image: url("../assets/img/face.png");
    height: 200vh; }

#name .title-1 {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  transform: translateY(-50%); }
  #name .title-1 h3 {
    font-size: 1em; }
  #name .title-1 h1 {
    font-size: 3em;
    font-weight: 300; }
  #name .title-1 h5 {
    font-size: 1em;
    text-align: right; }

#bear {
  overflow: visible;
  color: black; }
  #bear .bg-t {
    background-image: url("../assets/img/taiwan-t.png");
    position: absolute;
    width: 100%;
    height: 150%;
    background-size: 100% auto;
    margin-top: -17%;
    background-position: center center;
    background-repeat: no-repeat;
    background-clip: no; }
  #bear .bg-b {
    background-image: url("../assets/img/taiwan-b.png");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat; }
  #bear .face {
    background-image: url("../assets/img/panda.png"); }
  #bear .char {
    opacity: 1; }
  #bear .title-1 {
    position: absolute;
    font-size: 2rem; }
    #bear .title-1 h3 {
      font-size: 1em;
      margin-left: 0.5em; }
    #bear .title-1 h1 {
      color: #ff0909;
      font-size: 5em;
      font-weight: 300;
      margin-left: 0.5em; }
    #bear .title-1 h5 {
      font-size: 2em;
      text-align: right;
      color: #ff0909;
      font-weight: 300; }

#developer {
  background-image: url("../assets/img/capbg.png"); }
  #developer .iam {
    color: white; }
  #developer .face {
    background-image: url("../assets/img/face.png"); }
    #developer .face img {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -242px;
      transition: all 0.4s ease;
      opacity: 0; }
      #developer .face img:hover {
        opacity: 1; }
  #developer .overlay {
    background-image: url("../assets/img/facematrix.png");
    transition: all 1s ease-in-out;
    opacity: 0 !important;
    height: 30vh; }
    #developer .overlay:hover {
      height: 100vh;
      opacity: 1 !important; }
  #developer .mdl-layout {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  #developer .mdl-layout__drawer {
    background-image: url("../assets/img/bearface.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto; }
  #developer .title-1 {
    overflow: hidden;
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 50%;
    height: 454px;
    width: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -227px;
    margin-left: -266px;
    font-size: 2rem;
    background-image: url("../assets/img/appb.png");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
    color: white; }
    #developer .title-1 h3 {
      font-size: 1em; }
    #developer .title-1 h1 {
      font-size: 2.5em;
      font-weight: 300;
      text-align: center;
      position: relative; }
    #developer .title-1 h5 {
      font-size: 1em;
      text-align: right;
      transition: all 0.3s ease-in-out;
      position: relative;
      z-index: 1; }
    #developer .title-1 .logos {
      width: 100%;
      position: absolute;
      top: 50%;
      display: flex;
      margin-top: -70px;
      justify-content: space-between;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: 2; }
    #developer .title-1:hover .logos {
      opacity: 1; }
    #developer .title-1:hover h1 {
      color: transparent; }
  #developer .icon {
    position: absolute;
    bottom: 0;
    left: 2.5%;
    cursor: pointer; }
    #developer .icon a {
      display: block;
      margin: 30px; }
  #developer .bottom-bar {
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    height: 85px; }
    #developer .bottom-bar .dock {
      height: 100%;
      width: 100%;
      padding: 5px;
      display: flex;
      justify-content: space-around;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.4);
      transform: translateY(100%);
      transition: transform 0.3s ease-in-out; }
      #developer .bottom-bar .dock .app {
        width: 70px;
        height: 70px;
        background-color: red;
        border-radius: 10px;
        display: flex;
        align-content: center;
        justify-content: center;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        border-left: 1px solid rgba(255, 255, 255, 0.4);
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        position: relative; }
        #developer .bottom-bar .dock .app:hover::before {
          opacity: 1; }
      #developer .bottom-bar .dock .app.chat {
        color: #ecfdff;
        background: linear-gradient(#b7c8db, #355bff); }
        #developer .bottom-bar .dock .app.chat::before {
          content: "Chat"; }
      #developer .bottom-bar .dock .app.todo {
        color: #ecfdff;
        background: linear-gradient(#b7c8db, #1a2a41); }
        #developer .bottom-bar .dock .app.todo::before {
          content: "Todos"; }
      #developer .bottom-bar .dock .app::before {
        width: 70px;
        background-color: rgba(255, 255, 255, 0.8);
        position: absolute;
        bottom: 100%;
        margin-bottom: 15px;
        left: 0;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        color: black;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: opacity 0.2s ease; }
    #developer .bottom-bar:hover .dock {
      transform: translateY(0); }
  #developer #resume {
    position: absolute;
    height: 80%;
    width: 800px;
    top: 100px;
    left: 20%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); }
    #developer #resume iframe {
      height: 100%;
      width: 100%; }
    #developer #resume a {
      color: red;
      position: absolute;
      left: -10px;
      top: -10px;
      opacity: 0.7; }
      #developer #resume a:hover {
        opacity: 1;
        text-decoration: none; }

#designer {
  background-image: url("../assets/img/bpgrid.png"); }
  #designer .face {
    background-image: url("../assets/img/facedes1.png"); }
  #designer .iam {
    font-weight: 300;
    color: yellow; }
  #designer .overlay {
    background-image: url("../assets/img/facedes2.png");
    transition: all 1s ease-in-out;
    opacity: 0 !important;
    height: 30vh;
    cursor: url("../assets/img/pencil.png"), auto; }
    #designer .overlay:hover {
      height: 100vh;
      opacity: 1 !important; }
  #designer .iphone {
    position: absolute;
    z-index: 2;
    bottom: 5%;
    left: 20vw;
    background-image: url("../assets/img/iphone.png");
    width: 256px;
    height: 514px;
    transition: transform 0.5s ease-in-out; }
    #designer .iphone .screen {
      position: absolute;
      background-color: #0F594D;
      top: 64px;
      left: 17px;
      bottom: 76px;
      right: 28px;
      padding: 10px; }
      #designer .iphone .screen span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #93A748;
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        text-align: center;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3); }
        #designer .iphone .screen span a {
          color: rgba(0, 0, 0, 0.7); }
      #designer .iphone .screen .prof {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        position: relative;
        top: 28px;
        left: 50%;
        transform: translateX(-50%);
        height: 167px;
        width: 167px;
        padding: 30px;
        background-color: #C15134;
        border-radius: 50%;
        border: 3px solid black;
        margin-bottom: 5px; }
        #designer .iphone .screen .prof img {
          transform: rotate(-90deg); }
      #designer .iphone .screen .content {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        background-color: #F2E6CD;
        position: relative;
        bottom: -35px;
        text-align: center;
        border-radius: 10px;
        background: white;
        padding: 5px;
        left: 0;
        right: -15px; }
        #designer .iphone .screen .content hr {
          margin: 3px; }
        #designer .iphone .screen .content .fa-heart {
          position: absolute;
          left: 10px;
          color: red; }
          #designer .iphone .screen .content .fa-heart:hover {
            color: #FF6969; }
        #designer .iphone .screen .content .fa-thumbs-o-up {
          position: absolute;
          right: 10px;
          color: blue; }
          #designer .iphone .screen .content .fa-thumbs-o-up:hover {
            color: #4d99ff; }
    #designer .iphone:hover {
      transform: rotate(90deg); }
      #designer .iphone:hover .screen span {
        opacity: 0; }
      #designer .iphone:hover .screen .prof {
        transform: translateX(-50%) rotate(-90deg);
        top: 185px; }
      #designer .iphone:hover .screen .content {
        transform: rotate(-90deg);
        width: 170px;
        height: 167px;
        top: -165px;
        left: 10px; }
  #designer .web {
    width: 679px;
    height: 611px;
    position: absolute;
    top: 10%;
    padding-top: 100px;
    left: calc(20vw + 150px);
    background-image: url("../assets/img/web.png");
    background-repeat: no-repeat; }
  #designer .apps {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -100px;
    height: 350px; }
    #designer .apps span {
      width: 100%;
      transition: transform 0.3s eas-in-out;
      transform: scale(1); }
      #designer .apps span:hover {
        transform: scale(2); }
  #designer .title-1 {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2rem;
    z-index: 5; }
    #designer .title-1 h3 {
      font-size: 1em; }
    #designer .title-1 h1 {
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8), -1px -1px 0 rgba(255, 255, 255, 0.8);
      font-size: 4em;
      font-weight: 300;
      color: yellow;
      z-index: 5;
      position: relative; }
    #designer .title-1 h5 {
      font-size: 1em;
      text-align: right; }

#producer .contain {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex; }
  #producer .contain div {
    height: 100%;
    width: 50%;
    text-align: center; }
    #producer .contain div h1 {
      font-size: 3em;
      font-weight: 300; }
  #producer .contain .producer {
    background-color: white; }
    #producer .contain .producer .maschine {
      width: 500px;
      height: 500px;
      position: relative;
      background-color: black;
      margin: auto auto;
      padding: 20px; }
      #producer .contain .producer .maschine .bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: gray; }
      #producer .contain .producer .maschine .screens span {
        background-color: white; }
  #producer .contain .composer {
    background-color: blue; }

#producer .title-1 {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  transform: translateY(-50%); }
  #producer .title-1 h3 {
    font-size: 1em; }
  #producer .title-1 h5 {
    font-size: 1em;
    text-align: right; }

#musician .title-1 {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 2rem;
  transform: translateY(-50%); }
  #musician .title-1 h3 {
    font-size: 1em; }
  #musician .title-1 h1 {
    font-size: 3em;
    font-weight: 300; }
  #musician .title-1 h5 {
    font-size: 1em;
    text-align: right; }

#me {
  background-color: white; }
  #me .title-1 {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 2rem;
    transform: translateY(-50%); }
    #me .title-1 h3 {
      font-size: 1em; }
    #me .title-1 h1 {
      font-size: 3em;
      font-weight: 300; }
    #me .title-1 h5 {
      font-size: 1em;
      text-align: right; }

#education {
  pointer-events: none;
  background-color: white; }
  #education .bg {
    position: absolute;
    top: 0;
    height: 0%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 2s ease-in-out;
    -webkit-filter: blur(100%) grayscale(100%);
    filter: blur(100%) grayscale(100%);
    opacity: 0.5; }
  #education:hover {
    color: white; }
    #education:hover .bg {
      background-image: url("../assets/img/immersive.jpg");
      -webkit-filter: blur(40%) grayscale(0%);
      filter: blur(40%) grayscale(0%);
      opacity: 1;
      height: 100%; }
    #education:hover .vid {
      opacity: 1; }
  #education .vid {
    position: absolute;
    z-index: 4;
    width: 280px;
    margin: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
    pointer-events: auto; }
    #education .vid iframe {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4); }
    #education .vid h3 {
      font-size: 2em;
      margin: 0;
      font-weight: 100; }
    #education .vid h2 {
      font-size: 3em;
      margin: 5px;
      font-weight: 300; }
    #education .vid:hover {
      transform: scale(1.3); }
  #education .vidr {
    bottom: 0;
    right: 0; }
    #education .vidr h2, #education .vidr h3 {
      text-align: right; }
  #education .vidtr {
    top: 0;
    right: 0; }
    #education .vidtr h2, #education .vidtr h3 {
      text-align: right; }
  #education .vidl {
    bottom: 0;
    left: 0; }
    #education .vidl h2, #education .vidl h3 {
      text-align: left; }
  #education .vidtl {
    top: 0;
    left: 0; }
    #education .vidtl h2, #education .vidtl h3 {
      text-align: left; }
  #education .title {
    position: relative;
    z-index: 5;
    margin-top: 20px; }
  #education h1, #education h2 {
    text-align: center;
    font-size: 4em; }
  #education .fsa {
    z-index: 3;
    height: 600px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -300px;
    transition: all 0.5s ease-in-out; }
    #education .fsa img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: 0.5;
      transition: all 0.5s ease-in-out; }
  #education .contain {
    pointer-events: auto;
    z-index: 2;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px; }
    #education .contain .logo {
      position: relative;
      z-index: 3;
      text-align: center;
      opacity: 0;
      transition: all 1s ease-in-out; }
      #education .contain .logo h2 {
        font-size: 3em; }
      #education .contain .logo h4 {
        font-size: 2em; }
    #education .contain:hover .fsa img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
      opacity: 0.8; }
    #education .contain:hover .logo {
      opacity: 1; }
    #education .contain:hover .l {
      transform: translateX(-25%); }
    #education .contain:hover .r {
      transform: translateX(25%); }

footer {
  width: 100%;
  height: 50vh;
  background: #D6FAFF;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  footer h1 {
    font-size: 9vw;
    text-align: center;
    margin: 10px 10px; }
  footer .links {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    font-size: 8em; }
    footer .links a {
      text-decoration: none; }
      footer .links a:hover {
        text-decoration: none;
        -webkit-animation: fun 0.5s ease-in-out infinite;
        -moz-animation: fun 0.5s ease-in-out infinite;
        animation: fun 0.5s ease-in-out infinite; }
    footer .links #mail {
      color: #E75A4D; }
    footer .links #gh {
      color: black; }
    footer .links #li {
      color: #0077B5; }
    footer .links #tumblr {
      color: #36465D; }

@keyframes fun {
  0% {
    transform: scale(1.5) rotate(10deg); }
  50% {
    transform: scale(1.5) rotate(-10deg); }
  100% {
    transform: scale(1.5) rotate(10deg); } }

.panda {
  position: fixed;
  z-index: 2;
  transform: translate(-50%, 75%) rotate(-90deg);
  bottom: 0;
  left: 50%;
  text-align: center;
  transition: transform 0.4s ease-in-out; }
  .panda:hover {
    transform: translate(-50%, 20%) rotate(-90deg); }
    .panda:hover img {
      animation: none; }
  .panda img {
    height: auto;
    width: 200px;
    -webkit-animation: twitch 3s ease-in-out infinite;
    -moz-animation: twitch 3s ease-in-out infinite;
    animation: twitch 3s ease-in-out infinite; }

@keyframes twitch {
  0% {
    transform: rotate(0deg); }
  10% {
    transform: rotate(10deg); }
  15% {
    transform: rotate(-10deg); }
  20% {
    transform: rotate(0deg); }
  60% {
    transform: translateX(0px); }
  65% {
    transform: translateX(10px); }
  70% {
    transform: translateX(0px); }
  100% {
    transform: rotate(0deg); } }
